body {
	font-family: "Calibri Light", sans-serif;
	background: linear-gradient(360deg, rgba(2, 0, 36, 1) 40%, rgba(77, 45, 45, 1) 100%);
	height: fit-content;
}

.top-link {
	transition: all 0.25s ease-in-out;
	position: fixed;
	bottom: 2em;
	right: 0;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 3em 3em 0;
	border-radius: 50%;
	padding: 0.25em;
	width: 5rem;
	height: 5rem;
	background-color: #F8F8F8;
}

.top-link.show {
	visibility: visible;
	opacity: 0.9;
}

.top-link.hide {
	visibility: hidden;
	opacity: 0;
}

.top-link svg {
	fill: #000;
	width: 24px;
	height: 12px;
}

.top-link:hover {
	background-color: #E8E8E8;
}
.top-link:hover svg {
	fill: #000000;
}


nav .nav-bar , nav .nav-bar li, nav {
	display: inline-flex;
	width: 100%;
}

nav .nav-bar a, nav a {
	width: 100%;
	display: inline-flex;
	color: whitesmoke;
}

nav .nav-bar li a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 12pt;
}

nav .nav-bar li {
	padding: 10pt;
	border-radius: 5pt;
}

nav .nav-bar li:hover {
	background-color: rgba(115, 115, 115, 0.15);
	border-bottom: rgba(220, 48, 82, 0.5) 1pt solid;
}

header h1 {
	color: #d0cdcd;
	font-size: 30pt;
	margin: 1em 2em;
	text-decoration: underline crimson;
}

header h2 {
	color: #d0cdcd;
	font-size: 25pt;
	font-weight: bolder;
	margin: 1rem 0;
}

header h3 {
	margin: 1rem 0;
	color: #d0cdcd;
	font-size: 13pt;
	font-weight: bolder;
}

header hr {
	margin: 1rem 0;
}

.content-article {
	padding: 10pt;
}

.content-article header, .content-article section, .content, .content p {
	color: whitesmoke;
}

.content-article section {
	font-size: 12pt;
}

.content-article hr {
	text-align: center;
	width: 50%;
	height: 1pt;
}

.profile-picture {
	width: 20em;
}

.profile-picture img {
	width: 100%;
	border-radius: 1rem;
}

.profile-picture figcaption {
	text-align: center;
}

.content-container {
	width: 100%;
	margin: 1em 2em 1em 2em;
	padding: 1rem!important;
	background-color: rgba(2, 0, 36, 0.25);
	box-shadow: 0 1rem 2rem rgba(178, 177, 177, 0.05);
	border-radius: 1rem;
}

.content-container-1 {
	margin: 1em 5em 1em 5em;
	display: flex;
	background-color: rgba(2, 0, 36, 0.25);
	box-shadow: 0 1rem 2rem rgba(178, 177, 177, 0.05);
	border-radius: 1rem;
}

.content {
	padding: 1rem;
}

.content p {
	font-size: 12pt;
	font-weight: lighter;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.col-fit {
	flex-basis: 0;
	flex-grow: 1;
	max-width: fit-content;
}

*, ::after, ::before {
	box-sizing: border-box;
}

.fa {
	padding: 1rem;
	width: 3rem;
	text-align: center;
	text-decoration: none;
	margin: 1rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 1rem 2rem rgba(178, 177, 177, 0.27);

}

.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	color: white;
}


footer {
	padding: 1rem;
}

footer i {
	font-size: 12pt;
	color: whitesmoke;
	padding: 2em;
	text-decoration: underline crimson;
}


